$icon_offset: 3px;
$red: #f38ba8;
$sapphire: #74c7ec;
$blue: #89b4fa;
$bg: #181824;
$text: #cdd6f4;
$hover: #45475a;
$border-radius: 10px;
$large-icon: 2.2rem;

// Global
*{
  all: unset;
}

.bar {
    font-weight: bold;
    border-radius: $border-radius;
    padding: 0.4rem;
    background-color: $bg;
    color: $text; 
    min-width: 2.2em;
    font-family: "Fira Code Nerd Font Mono";
}

.icon {
    font-size: 1.5rem;
    padding-left: $icon_offset;
}

.workspaces {
    margin-top: 1rem;

    .empty {
        color: #585b70;
    }

    .active {
        color: $blue;
    }

    .workspace-btn:hover {
        color: $hover;
    }
}


.clock {
    font-family: "Google Sans";
    font-size: 1.3rem;
    padding: 0.2rem;
} 


.bot {
    .power {
        font-size: $large-icon;
        color: $red;

        &:hover {
            color: #ad4e69;
        }
    }
}

.top {
    >.icon {
        font-size: $large-icon;
        color: $sapphire;
    }
}

.separator{
    margin: 0.05em;
    .dot{
        min-height: .2em;
        min-width: .2em;
        border-radius: 10px;
        background-color: transparentize($text, 0.6);
    }
}
